/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin-top: 10px;
}

// reset bootstrap
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
